.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.h-left-section{
    width: 571px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h-right-section{
    width: 484.41px;
    padding: 0 20px;
}

.logo-section{
    width: 105px;
    height: 52px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #E60012;

}

.logo{
    width: 69px;
    height: 17.06px;
    background-size: cover;
}

span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-icon{
    margin: 0 10px 0 0;
}

.icon{
    width: 18.06px;
    height: 18.01px;
    margin: 0 10px 0 0;
}

.searcher-input{
    width: 450px;
    height: 34px;
    border-bottom: 1px solid;

}

.c-transition{
    cursor: pointer;
    color: rgb(72, 72, 72);
    transition: color 200ms ease-in-out 25ms;
}

.c-transition:hover{
    color: rgb(230, 0, 18);
    transition: all 200ms ease-in-out 0s;
}

input{
    width: 233.19px;
    height: 33.2px;
    background-color: transparent;
    border: none;
}

button{
    background-color: transparent;
    border: none;
}
