body{
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

.o-card-section{
    margin: 0 24px 48px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}